# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives: </b>
    <ul>
    <li>Some of the popular languages that Data Scientists use are: </li>
         <li>SSome of the commonly used libraries used by Data Scientists include: </li>
                 <li>Data Science Tools </li>
                        </ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>python</li>
    <li>R</li>
    <li>scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>numpy</li>
    <li>pandas</li>
    <li>scipy</li>
</ol>

<tr>
    <th>Data Science Tools</th>
</tr>
<tr>
    <td>matplotlib</td>
</tr>
<tr>
    <td>tensorflow</td>
</tr>
<tr>
    <td>  apache hadoop</td>
</tr>

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## author
Bibin